{% extends 'admin/layout.html.twig' %}

{% block content %}
    <h4>{{ title }}: Добавление{% if message %}: {{ message }}{% endif %}</h4>
    <div class="admin-content">
        {{ render('Fuga:Admin:Menu:entity', {'links': links}) }}
        <br><form enctype="multipart/form-data" method="post" id="entityForm" action="{{ path('admin_entity_add', {'state': state, 'module': module, 'entity': entity}) }}">
            <input type="hidden" name="utype" id="utype" value="0">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th colspan="2">Новый элемент</th>
                </tr>
                </thead>
                {% for field in table.fields %}
                {% if field.readonly is empty %}
                <tr{% if table.dbName() == 'table_field' and (field.name == 'select_values' or field.name == 'params') %} class="hidden"{% endif %} id="add_{{ field.name }}">
                    <td style="width:180px"><strong>{{ field.title }}</strong>{% if field.help %}<i class="icon-exclamation-sign" alt="{{ field.help }}" title="{{ field.help }}"></i>{% endif %}{% if isRoot %}<div class="sfnt">[{{ field.name }}]</div>{% endif %}</td>
                    <td>{{ table.getFieldType(field).getInput() }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
            <input type="button" class="btn btn-success btn-submit" data-mode="0" value="Сохранить">
            <input type="button" class="btn btn-default btn-submit" data-mode="1" value="Применить">
            <a class="btn btn-danger" href="{{ path('admin_entity_index', {'state': state, 'module': module, 'entity': entity}) }}">Отменить</a></form>
    </div>
{% endblock %}