{% extends 'admin/layout.html.twig' %}

{% block content %}
<h4>{{ title }}{% if message %}: {{ message }}{% endif %}</h4>
<div class="admin-content">
{{ render('Fuga:Admin:Menu:entity', {'links': links}) }}
<br>
{{ paginator.render() }}
<form id="frmGroupUpdate" name="frmGroupUpdate" action="{{ path('admin_entity_groupedit', {'state': state, 'module': module, 'entity': entity}) }}" method="post">
<input type="hidden" name="edited" value="1">
<table class="table table-condensed table-normal">
<thead>
<tr>
<th width="1%"><input type="checkbox" id="list-checker"></th>
<th width="1%">#</th>
{% for field in fields %}
	{% if field.width %}
	<th width="{{ field.width }}">{{ field.title }}</th>
	{% endif %}
{%  endfor %}
{% if showCreated %}
<th width="10%">Дата создания</th>
{% endif %}
<th class="text-center"><span class="glyphicon glyphicon-menu-hamburger"></span></th>
</tr>
</thead>
{{ tableData }}
</table>
<div class="form-inline" id="control">
	<div class="form-group">
        {% if showGroupSubmit %}
        <a class="btn btn-sm btn-default" title="Сохранить" id="btn-group-save" data-check="false"><span class="glyphicon glyphicon-floppy-disk"></span></a>
        {% endif %}
        <a class="btn btn-sm btn-default" title="Изменить" id="btn-group-edit" data-check="true"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-sm btn-danger" title="Удалить" id="btn-group-delete"><span class="glyphicon glyphicon-trash icon-white"></span></a>
    </div>
	{% if rpps %}
	<div class="form-group rpp">
		<div class="input-group">
			<span class="input-group-addon">&nbsp;&nbsp;На странице:&nbsp;&nbsp;</span> 
			<select id="select-rpp" class="form-control col-sm-3" name="rpp" data-table="{{ tableName }}" data-url="{{ path('admin_entity_rpp') }}">
			{% for rpp in rpps %}
			<option value="{{ rpp }}" {% if rowPerPage == rpp %} selected{% endif %}>{{ rpp }}</option>
			{% endfor %}
			</select>
		</div>
	</div>		
	{% endif %}
</div>
<input type="hidden" name="ids" id="ids" value="{{ ids }}">
</form>
{{ paginator.render() }}
{{ filters }}
</div>
{% endblock %}